/* NAV-BAR STYLES */

nav {
    background-color: #ffffff;
    height: 3.7em;
    line-height: 3.3em;
    padding: 0 13.5em;
    border-bottom: 0.1px solid #dbdbdb;
}

.logo{
    text-decoration: none;
}

.logo > img {
    width: 103px;
    height: 29px;
    vertical-align: middle;
}

.search {
    background-color: #efefef;
    height: 3.0em;
    width: 21em;
    margin-left: 16em;
    border-radius: 8px;
    border: unset;
}

/* Note: Below is how you style the placeholder found in the html */
.search::placeholder {
    /* text-align: left; */
    color: #8e8e8e;
}

.nav-links {
    margin-left: 3.0em;
}

.nav-links a {
    margin-left: 1.1em;
}

.nav-links label {
    margin-left: 1.1em;
    cursor: pointer;
}

.nav-links i {
    /* background-color: #ffffff; This is not needed...background-color already inherited from body*/ 
    color: #262626;
    vertical-align: middle;
}