

/* BIO STYLES */

.container .bio {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* Grid template rows should not be here in this context because it would mess with the form */
    grid-template-areas: 
                "profile-photo profile-info"
    ;
    /* padding: 3em 0 0 5em; */
    padding: 10px 30% 0 30%;
    width: 100%;
    height: 13em;
    border-bottom: 0.5px solid #dbdbdb;
}

/* PROFILE PHOTO STYLES */
.container .bio .profile-photo {
    width: 10em;
    height: 10em;
    border-radius: 50%;
}

.container .bio .profile-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.container .bio .profile-info .name {
    font-size: 2em;
    color: #262626;
}

.container .bio .profile-info .description {
    font-size: 1em;
}

.container .bio .profile-info button {
    background-color: #0095f6;
    color: #ffffff;
    font-size: 1em;
    height: 2em;
    width: 7em;
    text-transform: capitalize;
    border-radius: 5px;
    border: unset;
    cursor: pointer;
}

.container .edit-bio-form {
    display: none;
    /* display: block; */
    position: absolute;
    right: 32em;
    top: 4.5em;
    background-color: #fff;
    width: 20em;
    height: 12em;
    padding: 1em;
    border-radius: 7px;
    text-align: center;
    box-shadow: 1px 1px 3px #333333;
}

.edit-bio-form #bioName,
.edit-bio-form #bioDescription {
    background-color: #dbdbdb;
    margin-bottom: 0.5em;
    padding-left: 0.5em;
    width: 18em;
    height: 2em;
    border: unset;
    border-radius: 5px;
}

.edit-bio-form #bioDescription {
    height: 4em;
}

.edit-bio-form #submit {
    margin-left: 2em;
    margin-top: 0.5em;
    padding: 0.8em;
    background-color: #0095f6;
    color: #fff;
    text-transform: capitalize;
    border: unset;
    border-radius: 5px;
}

.edit-bio-form #cancel {
    padding: 0.8em;
    background-color: #0095f6;
    color: #fff;
    text-transform: capitalize;
    border: unset;
    border-radius: 5px;
}

.edit-bio-form #submit:hover,
.edit-bio-form #cancel:hover {
    background-color: #dbdbdb;
    color: #0095f6;
    cursor: pointer;
}

/* RESPONSIVE BIO STYLES */

/* MOBILE RESPONSIVE */
@media (min-width: 300px) and (max-width: 480px) {
    /* Responsive Bio */
    .container .bio {
        gap: 2em;
        height: 11em;
    }

    .container .bio .profile-photo {
        width: 5em;
        height: 5em;
    }

    .container .bio .profile-photo img {
        padding: 10px 0 0 0;
    }

    .container .bio .profile-info .name {
        font-size: 1em;
    }

    .container .bio .profile-info .description {
        font-size: 0.7em;
    }

    .container .bio .profile-info button {
        margin-left: 10px;
    }

    .container #editBioButton {
        margin-left: 0;
    }

    .container .edit-bio-form {
        top: 6em;
        right: 5em;
        width: 10em;
        height: 6em;
    }

    .edit-bio-form #bioName,
    .edit-bio-form #bioDescription {
        width: 9em;
        height: 1.5em;
    }

    .edit-bio-form #submit {
        margin-left: 0.3em;
    }
}


