

/* BIO STYLES */

.container .bio {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* Grid template rows should not be here in this context because it would mess with the form */
    grid-template-areas: 
                "profile-photo profile-info"
    ;
    padding: 3em 0 0 5em;
    height: 13em;
    border-bottom: 0.5px solid #dbdbdb;
}

.container .edit-bio-form {
    display: none;
    position: absolute;
    right: 32em;
    top: 4.5em;
    background-color: #fff;
    width: 20em;
    height: 12em;
    padding: 1em;
    border-radius: 7px;
    text-align: center;
    box-shadow: 1px 1px 3px #333333;
}

.edit-bio-form #bioName,
.edit-bio-form #bioDescription {
    background-color: #dbdbdb;
    margin-bottom: 0.5em;
    padding-left: 0.5em;
    width: 18em;
    height: 2em;
    border: unset;
    border-radius: 5px;
}

.edit-bio-form #bioDescription {
    height: 4em;
}

.edit-bio-form #submit {
    margin-left: 2em;
    margin-top: 0.5em;
    padding: 0.8em;
    background-color: #0095f6;
    color: #fff;
    text-transform: capitalize;
    border: unset;
    border-radius: 5px;
}

.edit-bio-form #cancel {
    padding: 0.8em;
    background-color: #0095f6;
    color: #fff;
    text-transform: capitalize;
    border: unset;
    border-radius: 5px;
}

.edit-bio-form #submit:hover,
.edit-bio-form #cancel:hover {
    background-color: #dbdbdb;
    color: #0095f6;
    cursor: pointer;
}



/* RESPONSIVE BIO STYLES */

/* TABLET RESPONSIVE */
@media (min-width: 484px) and (max-width: 768px) {
    .container .bio {
        height: 22em;
    }

    .profile-photo {
        padding: 5em 0 0 5em;
    }

    .profile-info {
        margin-left: 10em;
    }
}

/* MOBILE RESPONSIVE */
@media screen and (max-width: 480px) {
    /* Responsive Bio */
    .container .bio {
        height: 22em;
    }

    .profile-photo {
        padding: 5em 0 0 5em;
    }

    .profile-info {
        margin-left: 10rem;
    }
}